h1{
    letter-spacing: normal;
    line-height: 1.5;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:50px;
    font-weight: 200;
}
h2 {
    text-align: center;
    color:#006EB6;
    letter-spacing: normal;
    line-height: 1.5;
    text-transform: capitalize;
}
p {
    max-width: 70ch;
    text-align: left;
}
photo {
    size: 100px;
}
div {
    padding-left: 500px;
    padding-right: 500px;
}
